body, div, section, ul, li {
  margin: 0;
  padding: 0;
}

#root {
  margin: 0;
  padding: 0;
}

.pokemon-icon {
  width: 25px;
  height: 25px;
}

.pokemon-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.pokemon-list li{
  border-top: 1px solid black;
  color: black;
}

.pokemon-list li:last-child{
  border-bottom: 1px solid black;
}

.pokemon-list * {
  padding: 0px 5px;
}

.pokemon-list li:hover{
  background-color: grey;
}

.pkm-li {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pkm-img {
  height: 300px;
}

.pkm-items-list {
  display: flex;
  flex-direction: row;
  border: 3px solid black;
}

.pkm-items-list img {
  height: 50px;
  width: 50px;
}
