body, div, section, ul, li {
  margin: 0;
  padding: 0;
}

#root {
  margin: 0;
  padding: 0;
}

.pokemon-icon {
  width: 25px;
  height: 25px;
}

.pokemon-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: scroll;
  height: 1000px;
}

.pokemon-list li{
  border-top: 1px solid black;
  color: black;
}

.pokemon-list li:last-child{
  border-bottom: 1px solid black;
}

.pokemon-list * {
  padding: 0px 5px;
}

.pokemon-list li:hover{
  background-color: grey;
}

.pkm-li {
  display: flex;
  flex-direction: row;
  align-items: center;
}


.pkm-img {
  height: 300px;
  background-image: linear-gradient(-45deg, #f2410c, #f2ee1f);
  border: 3px solid black;
  border-radius: 10px;
  width: 80%;
  padding: 25px 0;
  margin: auto;
}

.pkm-items {
  border: 3px solid black;
  border-radius: 10px;
  padding: 10px;
  width: 75%;
  margin: auto;
  background-color: white;
}

.pkm-items-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  border: 3px solid black;
  border-radius: 10px;
  padding: 10px;
  margin: auto;
  text-align: center;
  width: 80%;

}

.pkm-items-list img {
  height: 100px;
}

.pkm-detail {
  border: 3px solid black;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  margin: 10px;
  background-color: #999999;
}

.pkm-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 18px;
}

.main {
  display: flex;
  flex-direction: row;
  color: black;
}

.pokemon-list {
  width: 20%;
}

.pkm-detail {
  width: 80%;
}

.pkm-info > p, h1 {
  margin: 10px;
}

.pkm-li {
  color: black;
  text-decoration: none;
}
