.pokemon-icon {
  width: 25px;
  height: 25px;
}

.pokemon-list {
  list-style: none;
}

.pokemon-list li{
  display: flex;
  flex-direction: row;
  border-top: 1px solid black;
  align-items: center;
  color: black;
}

.pokemon-list li:last-child{
  border-bottom: 1px solid black;
}

.pokemon-list * {
  padding: 0px 5px;
}

.pokemon-list li:hover{
  background-color: grey;
}
